extends layout

block content
  h1 Add Website
  form(method='post', action='/websites/add')
   label Title:
   input.form-control(name='title', type='text')
   label URL:
   input.form-control(name='url', type='text')
   label Description
   textarea.form-control(name='description')
   input.button(name='submit',type='submit',value='Save')
   a(class='button alert' href='/') Back
